# Entornos virtuales de Python
venv/
.venv/
env/
ENV/

# Cache de Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Variables de entorno y secretos
.env
*.env

# Editores / IDEs
.vscode/
.idea/

# Archivos temporales de Office
~$*
*.tmp
*.~*

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Node
node_modules/
